.carousel-indicators{
    justify-content: left;
}

img {
    max-width: 100%;
    height: auto;
    display: block;
  }
  
  h3 {
    text-align: center;
    font-weight: 400;
    margin-bottom: 0;
  }
  
  .gtco-testimonials {
    position: relative;
    margin-top: 30px;
  }
  @media (max-width: 767px) {
    .gtco-testimonials {
      margin-top: 20px;
    }
  }
  .gtco-testimonials h2 {
    font-size: 30px;
    text-align: center;
    color: #333333;
    margin-bottom: 50px;
  }
  .gtco-testimonials .owl-stage-outer {
    padding: 30px 0;
  }
  .gtco-testimonials .owl-nav {
    display: none;
  }
  .gtco-testimonials .owl-dots {
    text-align: center;
  }
  .gtco-testimonials .owl-dots span {
    position: relative;
    height: 10px;
    width: 10px;
    border-radius: 50%;
    display: block;
    background: #fff;
    border: 2px solid #01b0f8;
    margin: 0 5px;
  }
  .gtco-testimonials .owl-dots .active {
    box-shadow: none;
  }
  .gtco-testimonials .owl-dots .active span {
    background: #01b0f8;
    box-shadow: none;
    height: 12px;
    width: 12px;
    margin-bottom: -1px;
  }
  .gtco-testimonials .card {
    background: #fff;
    box-shadow: 0 8px 30px -7px #c9dff0;
    margin: 0 20px;
    padding: 0 10px;
    border-radius: 20px;
    border: 0;
  }
  .gtco-testimonials .card .card-img-top {
    max-width: 100px;
    border-radius: 50%;
    margin: 15px auto 0;
    box-shadow: 0 8px 20px -4px #95abbb;
    width: 100px;
    height: 100px;
  }
  .gtco-testimonials .card h5 {
    color: #01b0f8;
    font-size: 21px;
    line-height: 1.3;
  }
  .gtco-testimonials .card h5 span {
    font-size: 18px;
    color: #666666;
  }
  .gtco-testimonials .card p {
    font-size: 18px;
    color: #555;
    padding-bottom: 15px;
  }
  .gtco-testimonials .active {
    opacity: 0.5;
    transition: all 0.3s;
  }
  .gtco-testimonials .center {
    opacity: 1;
  }
  .gtco-testimonials .center h5 {
    font-size: 24px;
  }
  .gtco-testimonials .center h5 span {
    font-size: 20px;
  }
  .gtco-testimonials .center .card-img-top {
    max-width: 100%;
    height: 120px;
    width: 120px;
  }
  .owl-carousel .owl-nav button.owl-next, .owl-carousel .owl-nav button.owl-prev, .owl-carousel button.owl-dot {
    outline: 0;
  }

  .line_black{
    border-color: #000;
    border-left-style: solid;
    
  }
  .line_black_reverse{
    border-color: #000;
    border-right-style: solid;
    
  }

  .pequeno{
    font-size: small;
    text-align: right;
  }

  h3{
    text-align: right;
  }

  .card{
    margin-top: 20px;
  }

 
  .letter_responsive {
    font-size: 2rem;
  }
  
  @media screen and (min-width: 601px) {
    .letter_responsive {
      font-size: 2rem;
    }
  }
  
  /* If the screen size is 600px wide or less, set the font-size of <div> to 30px */
  @media screen and (max-width: 600px) {
    .letter_responsive {
      font-size: 1rem;
    }
  }

  .bg-overlay {
    background: linear-gradient(rgba(0,0,0,.7), rgba(0,0,0,.7)), url("https://images.pexels.com/photos/1595385/pexels-photo-1595385.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    color: #fff;
    height: 450px;
    padding-top: 50px;
}



.reduce{
  width: 40%;
}

section {
  padding:2rem;
}

.shadow {
  background-color:#F2F8F8;
}

.line_buttom{
  border-bottom-color: #fff;
    border-bottom-style: solid;
    
}

.line_bottom_black{
  border-bottom-color: #000;
    border-bottom-style: solid;
    width: 191px;
}

.right{
  text-align: end;
}


.step-heading {
  height: 33px;
  padding-bottom: 50px;
  cursor: pointer;
}
.step:last-child .step-heading {
  padding-bottom: 0;
}
.step-heading > a:hover {
  text-decoration: none;
}
.step-heading .num {
  width: 32px;
  height: 32px;
}
.steps .step .line {
  border-left: 1px solid #333;
  left: 16px;
  bottom: 0px;
  top: 32px;
}



